<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.loginplugin"
      version="0.1.0">
    <name>login</name>
    <description>login Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,login</keywords>


    <js-module src="www/login.js" name="LoginPlugin">
        <clobbers target="KLG.plugins.login" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LoginPlugin">
                <param name="android-package" value="com.kalengo.weathermeida.plugins.LoginPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/LoginPlugin.java" target-dir="src/com/kalengo/weathermeida/plugins" />      
     </platform>          
</plugin>